/* General selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Noto Sans SC", sans-serif;
}
/* style navbar  */
nav {
  height: 125px;
  border-bottom: 1px solid gray;
}
/* style logo */
.navbar-brand img {
  width: 150px;
  height: 117px;
  margin-left: 15%;
}
/* set hover dropdown items */
.dropdown:hover > .dropdown-menu {
  display: block;
  background-color: #eceeee;
  position: relative;
  z-index: 100;
}
.navbar-nav .nav-item {
  margin-left: 30px;
  font-weight: bold;
}
/* style dropdown items */
.mega-menu {
  width: 600px;
  overflow: hidden;
  padding: 10px;
  position: relative;
  z-index: 1001;
}
/* align dropdown items */
.dropdown-menu-center {
  right: auto;
  left: 40%;
  -webkit-transform: translate(-40%, 0);
  -o-transform: translate(-40%, 0);
  transform: translate(-40%, 0);
}
.dropdown-menu a {
  font-weight: bold;
}
.row li a,
.dropdown-menu a {
  line-height: 40px;
  color: rgb(138, 128, 128);
}

.row li a:hover,
.dropdown-menu a:hover {
  color: rgb(118, 7, 13);
  text-decoration: underline;
  font-weight: bold;
}
/* Container holding the image and the text */
.banner {
  position: relative;
  text-align: center;
  font-size: 1.4em;
  color: white;
  font-weight: bold;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centered a {
  border: 2px solid white;
  padding: 10px 20px;
  border-radius: 30%;
}
.centered a:hover {
  color: white;
}
/* add breakpoints make responsive */
@media only screen and (max-width: 992px) {
  .dropdown-menu-center {
    left: auto;
    right: 1%;
    -webkit-transform: translate(-1%, 0);
    -o-transform: translate(-1%, 0);
    transform: translate(-1%, 0);
  }
  .mega-menu {
    width: 250px;
    overflow: hidden;
    padding: 10px;
    position: relative;
    z-index: 1001;
  }
  .dropdown-menu {
    width: 250px;
  }
  .navbar-brand img {
    width: 100px;
    height: 78px;
    margin-bottom: 20px;
  }
}
